@import '../../common.scss';


.home-container{
    background: $color-beige;
    min-width:100vh;
    min-height:100vh;
    .home-container__header{
        @include block()
    }
    .home-container__above-game{
        @include block()
    }
    .home-container__game{
        @include block()
    }
}

