$font-weight--bold: 700;
$font-weight--medium: 500;
$font-weight--regular: 400;

$color-beige: #faf8ef;

$color-gray: #776e65;

$color-white: #fff;

$color-brown: #eee4da;
$color-brown1: #bbada0;
$color-brown2: #8f7a66;
