$font-weight--bold: 700;
$font-weight--medium: 500;
$font-weight--regular: 400;

$color-beige: #faf8ef;

$color-gray: #776e65;

$color-white: #fff;

$color-brown: #eee4da;
$color-brown1: #bbada0;
$color-brown2: #8f7a66;
$color-brown3: #eee1c9;
$color-brown4: #d3c9be;

$color-orange: #f3b27a;
$color-orange1: #f69664;
$color-orange2: #f77c5f;
$color-orange3: #f75f3b;

$color-yellow: #edd073;
$color-yellow1: #edcc62;
$color-yellow2: #edc950;
$color-yellow3: #edc53f;
$color-yellow4: #edc22e;
$color-yellow5: #edba14;
